header {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 60% 20%;
    margin: 0 auto;
    grid-template-rows: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    right: 0px;
}

img.logo {
    display: block;
    width: auto;
    height: 100%;
}

h2.buscador {
    text-align: center;
    margin: auto auto;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.795);
    width: 100%;
    height: 36px;
}

nav.main-nav {
    background-color: black;
    padding: 10px;
    margin: auto 0;
    margin-left: 51%;
    display: block;
    height: 40%;
    width: 20px;
}

ul.navegacion {
    display: none;
}

nav.main-nav:hover ul.navegacion {
    display: block;
}

a.toggle-nav {
    text-align: center;
}

ul.navegacion {
    padding-left: none;
    position: absolute;
    top: 45px;
    right: 0px;
}

ul.navegacion li {
    list-style-type: none;
    text-align: right;
    background-color: #59595938;
    margin-top: 5px;
    padding: 8px;
    text-transform: uppercase;
}

ul.navegacion li a {
    text-decoration: none;
    color: hotpink;
}

------------------------------------------------------------------------

footer{
	background-color: black;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 30% auto auto auto;
	justify-content: space-between;
	height: 80px;
	margin-top: 15px;
}
footer ul li{
	font-family: sans-serif;
	color: ivory;
}