body {
    background-color: black;
    display: block;
    width: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

section.genders {
    /* background-color: rgba(128, 128, 128, 0.400); */
    width: 100%;
    /*
    margin-top: 50px;
    margin-bottom: 0px;
    display: none;
    */
    /* Borrar despues */
    display: block;
    margin-top: 80px;
    margin-bottom: 30px;
}

div.mase article {
    width: 90%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin: auto auto;

}

img.generos {
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 5px;
}

h1.generos {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    padding: 5px;
}

div.todos article {
    width: 90%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin: auto auto;    
}
/*
li.generos:hover section.genders {
    display: block;
} */

@media (min-width: 1024px) {
    body {
        background-color: black;
        display: block;
        width: 100%;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1.generos {
        width: fit-content;
        margin: 0px auto;
        background-color: rgba(128, 128, 128, 0.700);
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 40px;
    }

    div.mase article , div.todos article {
        width: 75%;
    }
    
    section.genders {
        width: 78%;
        margin-left: 22%;
    }
}

@media (min-width: 1230px) {
    section.genders {
        width: 81%;
        margin-left: 19%;
    }
}

@media (min-width: 1300px) {
    section.genders {
        width: 83%;
        margin-left: 17%;
    }   
}