video { 
    position: fixed;
    top: auto;
    left: auto;
    overflow: hidden;
    z-index: -100;
    display: block;
    width: 100%;
    display: none;
}
body {
    background-image: url(../media/Fondos/Mob_Fondo\ 1.jpg);
    display: block;
    width: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
section.genders {
    /* background-color: rgba(128, 128, 128, 0.400); */
    width: 100%;
    /*
    margin-top: 50px;
    margin-bottom: 0px;
    display: none;
    */
    /* Borrar despues */
    display: block;
    margin-top: 80px;
    margin-bottom: 30px;
}

div.mase article {
    width: 90%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin: auto auto;

}

img.generos {
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 5px;
}

h1.generos {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    padding: 5px;
}

div.todos article {
    width: 90%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin: auto auto;    
}
/*
li.generos:hover section.genders {
    display: block;
} */
@media (min-width: 1024px) {
    body {
    background-image: url(../media/Fondos/PC_Fondo\ 1.jpg);
    display: block;
    width: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    }

    h1.generos {
        width: 350px;
        margin: 0px auto;
        background-color: rgba(128, 128, 128, 0.700);
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}