body{
    background-color: black;
}
.saludo{
    color: cornflowerblue;
}
@media only screen and (min-width: 1024px){
    .saludo{
        font-size: 80px;
        margin-top: 80px;
    }
    .container {
        width: 76%;
        margin-left: 23%;
    }
}