body{
    margin: 0 0;
    background-color:  #0c0807;
}
.Container{margin-top: 70px;}

.titulo {
    display: block;
    font: size 40px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    width: 100%;
}

.imagen{
    display: block;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}

.imagen img{
    width: 100%;
    margin: 0 auto;
} 

.cancion{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
}

.nombre{
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 30px;
}

.duracion{
    color: gray;
    text-align: right;
    font-size: small;
}
.artista{
    color: greenyellow;
    text-align: left;
    padding-left: 10px;
}
p{
    font-size: 20px;
}
.explicacion{ 
    display: none;
}
.album{
    display: none;
}
@media only screen and (min-width: 768px)
{
.tablet {
    display: flex;
    flex-direction: row-reverse;
    
}
.titulo{
    text-align: left;
    padding-left: 20px;
    font-size: 70px;
}

.explicacion {
    display: grid;
    grid-template-columns: 40% 10% 25% 25%;
    grid-template-rows: 70px;
    color:gray;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.explicacion p {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}
.explicacion .title {
    text-align: left;
    padding-left: 40px;
}

.cancion{
    display: grid;
    grid-template-columns: 40% 10% 25% 25%;
    grid-template-rows: 40px 40px 40px 40px40px;
    background-color: tomato;
    
}
.cancion .nombre {
    text-align: left;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 12px;
}
.cancion p{
    text-align: center;
    color: white;
    box-sizing: border-box;
    font-size: 12px;
}
.album {
    display: block;
    text-align: center;
    box-sizing: border-box;
}
    
}
@media only screen and (min-width: 1024px){
.imagen img{
    border-radius: 50%!important;
}

}




