header{
    position: relative;
}

.titulo{
    display: block;
    margin-left: auto;
    text-align: center;
    font-size: 70px;
}
.imagen{
    display: block;
    width: 100%;
}

.imagen img{
    display: block;
    width: 70%;
    justify-content: center;
    padding-left: 15%;
}

.pausa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

.recomendadas{
    margin-top: 80px;
}

.recomendadas h1{
    text-decoration: underline;
}

.recomendadas h2{
    font-size: 20px;
}


