body{
    margin: 0 0;
    background-color:#000000;
    font-family: 'Spartan', sans-serif;
}
.container{
    color: white;
}
main{
    width: 85%;
    margin: 0 auto;
}

header{
    position: relative;
}
.container {
    margin-top:80px ;
}
.add{
    display: block;
    padding-left:87% ;
    width: 40px;
    height: 40px;
}
 .add p{
    display: block;
    font-size: 25px;
    color: #2f9bc1;

}


.cancion{
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
    font-family:'Bangers', cursive;;
}

.imagen img{
    display: block;
    width: 70%;
    justify-content: center;
    padding-left: 15%;
}

.acciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px gray;
}
.pausa{
    color: white;
}
.adicionales{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    width: 70%;
    margin: auto;
}
.adicionales .art{
    color: gray;
    font-size: 20px;
    padding: auto;
    text-align: end;
    padding-top: 5px;
}
.adicionales .rep{
    color: gray;
    font-size: 15px;
    padding: auto;
    padding-top: 5px;
}

.recomendadas h2{
    margin-top: 40px;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 25px;
    color: white;
}
.recomendadas div {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30px 30px;
}
.recomendadas h3{
    font-size: 25px;
    color: white;
}
.recomendadas h4{
    padding-right: 10px;
    padding: auto;
    text-align: right;
    padding: 10px;
    color: #2f9bc1;
}
.recomendadas h5{
    color: gray;
}
.albumes{
    display: none;
}
.album{
    display: none;
}
@media only screen and (min-width: 1024px) {
.container{
    margin-left: 250px;
    display: grid;
}

main{
    width: 95%;
    margin: 0 auto;
}

.adicionales{
    display: grid;
    grid-template-columns: 1fr;

}
.adicionales .art{
    text-align: start;
    margin-left: 80px;
    color: white;
    font-size: 25px;
}
.adicionales .rep{
    text-align: start;
    margin-left: 80px;
    color: white;
    font-size: 25px;
}
.imagen img{
    width: 50%;
    margin: auto; 
    padding: 0px;
}
.album{
    display: block;
    margin-top: 50px;
    font-size: 25px;
    color: white;
}
.albumes{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 90%;
    justify-content: space-between;
    margin-left: 37px;
    margin-top: 20px;
}
.albumes img{
    display: block;
    width: 100%;
}
.recomendadas div h3 {
    margin-bottom:2px ;
}
.recomendadas{
    background-color: rgb(0, 0, 0);
}
.add{
    padding-left: 80%;
    width: 50px;
    height: 50px;
}
.add p{
    font-size: 30px;
}

}


